localhost {
	root * /code/static
	file_server

	route /api/health {
		uri strip_prefix /api
		reverse_proxy nimbus-api:3000
	}

	route /api/* {
		reverse_proxy nimbus-api:3000
	}

	log {
		output file /code/logs/access.log
	}
}
