[class].loadedFilesContainer {
    position: relative;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100px;
    background-color: rgb(74, 171, 255);
}

[class].buttonUpload {
    position: absolute;
    top: -50px;
}
