[class].container {
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 340px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

[class].box {
    width: 100%;
    padding: 10px;
}
