@import '@/app';

[class].container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    gap: 20px;
}

[class].listContainer {
    height: 519px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: none;

    @media (max-width: $layout-breakpoint-half) {
        width: 800px;
    }
}

[class].list {
    width: 880px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px 0 30px 30px;
    gap: 20px;
    overflow: hidden;

    @media (max-width: $layout-breakpoint-half) {
        width: 510px;
    }
}
