@import '@/app';

[class].container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $layout-breakpoint-half) {
        width: 765px;
    }
}

[class].browserContainer {
    position: relative;
    height: 100%;
    width: 100%;
}
