[class].container {
    width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 577px;
    border-radius: 10px;
}
